SECRET_KEY=dippedstuntgilleddelighted
DEBUG=True

#POSTGRES CONFIGURATION
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

#MYSQL CONFIGURATION
DB_ENGINE=django.db.backends.mysql
DB_NAME=db
DB_USER=root
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306
